In [40]:
import pandas as pd
import numpy as np

# 1
df = pd.DataFrame(np.array([[1000, 25], [280, 120], [900, 30]]), index=['store1', 'store2', 'store3'], columns=['unit price', 'number']);

print(df)

# 2
df['total price'] = df['unit price'] * df['number']

# 3

mx = df['total price'].max()
df2 = df[df['total price'] == mx]

print(df)

df2

        unit price  number
store1        1000      25
store2         280     120
store3         900      30
        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600